nav {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.high-scores-nav {
  text-decoration: none;
  color: rgb(124, 35, 207);
  font-weight: lighter;
}
.high-scores-nav:hover {
  color: rgb(154, 91, 212);
}
.high-scores-nav:active {
  color: rgb(89, 29, 145);
}
.wrapper {
  display: flex;
  justify-content: center;
}
.main-menu {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2rem;
  padding: 1.5rem;
}
p {
  width: 60%;
  text-align: center;
  line-height: 1.5;
}
.start-btn,
.next-btn,
.submit-btn,
.back-btn,
.clear-btn {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border: 0px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(124, 35, 207);
}
.start-btn:hover,
.op:hover,
.next-btn:hover,
.submit-btn:hover,
.back-btn:hover,
.clear-btn:hover {
  background-color: rgb(154, 91, 212);
  color: whitesmoke;
}
.start-btn:active,
.op:active,
.next-btn:active,
.submit-btn:active,
.back-btn:active,
.clear-btn:active {
  background-color: rgb(89, 29, 145);
}
.quiz-question {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.options {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-bottom: 1.5rem;
}
.op {
  width: 50%;
  padding: 1rem 1.5rem;
  text-align: left;
  background-color: white;
  border: none;
  border-radius: 5px;
}
.result,
.submition-status {
  padding: 1rem 1.5rem;
  font-weight: lighter;
  font-style: italic;
  color: slategrey;
}
.highscore-menu,
.highscore-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.end-title,
.highscore-title {
  padding-left: 0;
}
.highscore-menu h2 {
  font-weight: lighter;
  font-size: 1.5rem;
}
.input-wrapper {
  display: flex;
  align-items: center;
}
.initials {
  font-weight: lighter;
  font-size: 1.5rem;
}
.submit-btn {
  margin: 1rem;
}
input {
  padding: 0.2rem;
}
.high-scores {
  background-color: rgb(212, 190, 233);
  padding: 0.5rem;
}
.highscore-btns {
  display: flex;
  justify-content: flex-start;
}
.hidden {
  display: none;
}
